{% include 'header2.html' %}

<div class="container-fluid" style="margin-top: 7em !important;">

    <div class="row border-bottom border-4 my-4">
        <div class="col-10">
            <h1 class="orange fw-bold">Modifier la catégorie "{{ categorie.nom }}"</h1>
        </div>
        <div class="col-2 d-flex justify-content-end pb-2">
            <form action="/cat_Delete" method="post">
                <input type="hidden" name="id" value="{{ categorie.id }}">
                <button type="submit" class="btn btn-danger"><i class="far fa-trash-alt pe-2"></i> Suppr. catégorie</button>
            </form>
        </div>
    </div>
    <form class="" action="" method="post">
        <div class="row">
            <div class="col-12 col-lg-6 col-xl-4 mx-auto">
                <div class="m-3 py-4 px-3 rounded rounded-3 bg-bleu">
                    <div class="form-floating mx-3 mt-3">
                        <input type="text" class="form-control" name="nom" value="{{ categorie.nom }}" placeholder="Nom de la catégorie">
                        <label for="nom_cat">Nom de la catégorie</label>
                    </div>
                    <div class="form-floating mx-3 mt-3">
                        <input type="text" class="form-control" name="icone" value="{{ categorie.icone }}" placeholder="Nom de la thématique">
                        <label for="nom_them">Icone FontAwesome</label>
                    </div>
                    <div class="form-group d-flex justify-content-center mx-3 mt-4 pt-3">
                        <button type="submit" class="btn btn-warning mx-2">Modifier les données</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>
