{% include 'header.html' %}

<h4 class="text-center" style="margin-top:6em;">{{ errorMsg }}</h4>

<div class="text-center mt-5">
    <a href="/" class="col-1 btn btn-warning">Accueil</a>
</div>


</body>
</html>
