{% include 'header.html' %}

    <div class="container-fluid" style="margin-top: 7em !important;">

        <h1 class="orange fw-bold pb-2 my-4 border-bottom border-4">Séléctionner la ressource à modifier / supprimer</h1>

        <table class="table table-striped">
            <tbody>
                {% for outil in outils %}
                    <tr style="cursor: pointer" onclick="document.location='/outil_Update/{{ outil.id }}'">
                        <td>{{ outil.nom }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</body>
</html>
