{% include 'header2.html' %}

<div class="container-fluid" style="margin-top: 7em !important;">

    <h1 class="orange fw-bold pb-2 my-4 border-bottom border-4">Associer une nouvelle catégorie à la thématique</h1>
    <div class="row">
        <form class="" action="" method="post">
            <div class="col-12 col-lg-6 col-xl-4 mx-auto">
                <div class="m-3 py-4 px-3 rounded rounded-3 bg-bleu">
                    <div class="form-floating mx-3 mt-3">
                        <select class="form-select" id="categorie" name="categorie" aria-label="Séléctionner une catégorie">
                            <option selected value="">Séléctionner la nouvelle catégorie</option>
                            {% for cat in categories %}
                                <option value="{{ cat.id }}">{{ cat.nom }}</option>
                            {% endfor %}
                        </select>
                        <label for="categorie">Séléctionner la nouvelle catégorie</label>
                    </div>
                    <div class="form-group d-flex justify-content-center mx-3 mt-4 pt-3">
                        <button type="submit" class="btn btn-warning">Associer la catégorie</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>
